<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <title></title>
</head>

<body>
    <div style="width:816px;">
        <table border="0" cellspacing="0" cellpadding="0" width="100%">
            <tbody>
                <tr>
                    <td width="281" style="padding-top: 38px">
                        <p align="center"> <strong> </strong> </p>
                        <p align="center">BỆNH VIỆN BẠCH MAI<strong></strong> </p>
                        <p align="center"> <strong><u>Trung tâm Đào tạo và Chỉ đạo tuyến</u></strong> <strong><u></u></strong> </p>
                        <p> <strong></strong> </p>
                    </td>
                    <td width="359" valign="top">
                        <table align="right" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td width="92" height="48">
                                        <table cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div>
                                                            <p align="center"> <strong>$MaGiayHen</strong> </p>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p align="center">&nbsp; </p>
                        <p align="center">CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</p>
                        <p align="center"> <strong><u>Độc lập </u></strong> <strong><u>-</u></strong> <strong><u> Tự do - Hạnh phúc</u></strong> </p>
                        <p> <strong></strong> </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p align="center"> <strong></strong> </p>
        <p align="center"> <strong style="font-size:20px;">GIẤY HẸN TRẢ GIẤY CHỨNG NHẬN</strong> </p>
        <p align="center"> <strong></strong> </p>
        <p style="margin-left: 59px; margin-bottom: 0px; "> <strong>I. Một số thông tin chung:</strong> </p>
        <table cellpadding=0 cellspacing=0 style="width: 698px; margin-left: 59px; margin-top: 5px; font: 14px 'Arial'; ">
            <tr height="22px">
                <td width="15px">1.</td>
                <td colspan=2 width="350px">Họ tên học viên : $TenHocVien</td>
                <td width="149px">Giới tính : $GioiTinh</td>
                <td width="184px">Ngày sinh : $NgaySinh</td>
            </tr>
            <tr height="22px">
                <td>2.</td>
                <td width="222px">Trình độ : $TrinhDo</td>
                <td colspan=3>Nơi công tác : $NoiCongTac</td>
            </tr>
            <tr height="22px">
                <td>3.</td>
                <td colspan="4">Nội dung đăng ký : $NoiDungDangKy</td>
            </tr>
            <tr height="22px">
                <td>4.</td>
                <td colspan="4">Tại Viện/ TT/ Khoa/ Phòng : $DiaDiem</td>
            </tr>
            <tr height="22px">
                <td>5.</td>
                <td colspan="4">Kết quả học tập : $KetQua</td>
            </tr>
            <tr height="22px">
                <td>6.</td>
                <td colspan="4">Tổng số thời gian học : $TongSoThoiGian</td>
            </tr>
        </table>
        <p style="margin-left: 59px; margin-bottom: 0px; margin-top: 5px;"> <strong>II. Thời gian trả thẻ:</strong> </p>
        <table cellpadding=0 cellspacing=0 style="margin-left: 80px; margin-top: 5px; font: 14px 'Arial';">
            <tr>
                <td>
                    <input type="checkbox" />
                </td>
                <td>&nbsp; $ThoiGian1</td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" />
                </td>
                <td>&nbsp; $ThoiGian2</td>
            </tr>
        </table>
        <p style="padding-left:59px;height:8px;"> <strong><em><u>Chú ý: </u></em></strong> <em>Giấy hẹn này do học viên giữ và được thu lại sau khi đã trả giấy chứng nhận</em> </p>
        <p style="padding-left:108px;"> <strong><em><u> </u></em></strong> <em>Học viên lấy giấy chứng nhận cần mang theo chứng minh nhân dân để đối chiếu và nộp lại thẻ học viên</em> </p>
        <p align="right"> <em></em> </p>
        <p align="right"> <em>Hà Nội, $ThoiGianNhap</em> </p>
        <p align="right" style="padding-right:80px"> <strong>CÁN BỘ TIẾP NHẬN</strong> </p>
        <p align="right" style="padding-right:80px;padding-top:50px;"> <strong>$CanBoTiepNhan</strong> </p>
    </div>
</body>
</html>
