
<head>
    <style type="text/css">
        .auto-style1 {
            width: 6px;
        }
        </style>
</head>
<table class="MainBody" style="vertical-align:bottom" >
        <tr style="height:290px">
            <td></td>
        </tr>
        <tr class="textHeight">
            <td>
                <table class="FullSize">
                    <tr><td class="PandingLeft"></td><td class="FontArial auto-style26" >Ông/Bà/Mr/Ms:</td><td class="FontCambiria2">$Name</td> <!--<td class="FontArial auto-style25">Ngày sinh / Date of birth:</td><td class="FontCambiria ">$DateOfBirth</td> --></tr>
                </table>
            </td>
        </tr>
        <tr class="textHeight">
            <td><table class="FullSize">
                   <!--   <tr><td class="PandingLeft"></td><td class="FontArial auto-style26">Trình độ / Qualification:</td><td class="FontCambiria">$Qualification</td>-->
                    <tr>
                        <td class="PandingLeft"></td>
                        <td class="FontArial auto-style31">Sinh ngày / Date of birth:</td>
                        <td class="FontCambiria">$DateOfBirth</td>
                    </tr></table>

            </td>
        </tr>
            <tr class="textHeight">
            <td><table class="FullSize"><tr><td class="PandingLeft"></td><td class="FontArial auto-style31">Đơn vị công tác / Organization:</td><td class="FontCambiria">$Organization</td></tr></table></td>
        </tr>
            <tr class="textHeight">
            <td><table class="FullSize"><tr><td class="PandingLeft"></td><td class="FontArial">Đã hoàn thành khóa học theo chương trình đào tạo liên tục / Has completed the continuing medical course on:</td></tr></table></td>
        </tr>
            <tr class="textHeight">
            <td><table class="FullSize"><tr><td class="PandingLeft"></td><td class="FontCambiria3" style="text-align:center">$Content</td><td class="PandingLeft"></td></tr></table></td>
        </tr>
            <tr class="textHeight">
            <td><table class="FullSize"><tr><td class="PandingLeft"></td><td class="FontArial auto-style33">Tổng số / Duration :</td><td class="FontCambiria auto-style26">$Duration</td> <td class="FontArial auto-style31">$XepLoaiTitle</td><td class="FontCambiria auto-style18">$xeploai</td>  <td class="PandingLeft"></td></tr></table></td>
        </tr>
            <tr class="textHeight">
            <td><table class="FullSize"><tr><td class="PandingLeft"></td><td class="FontArial auto-style30">Thời gian / Time: Từ ngày / From:</td><td class="FontCambiria auto-style26">$Start</td><td class="FontArial auto-style7">đến ngày / To:</td><td class="FontCambiria">$End</td></tr></table></td>
        </tr>
            <tr class="textHeight">
            <td><table class="FullSize"><tr><td class="PandingLeft"></td><td ></td><td class="FontArial auto-style10">$Date</td><td class="PandingLeft"></td></tr></table></td>
        </tr>
            <tr class="textHeight">
            <td><table class="FullSize"><td class="PandingLeft"></td><td class="FontArial">$covantruongduan</td><td ></td><td class="FontArial auto-style13">KT.GIÁM ĐỐC / DIRECTOR<br>PHÓ GIÁM ĐỐC PHỤ TRÁCH</br><td class="PandingLeft"></td></tr></table></td>
        </tr>
            <tr style="height:90px;">
            <td></td>
        </tr>
            <tr class="textHeight">
            <td><table class="FullSize"><tr><td class="PandingLeft"></td><td class="FontArial2 auto-style20">Số / No:</td><td class="FontArial2 auto-style15">$Code</td><td class="auto-style1"></td><td class="FontArial auto-style13" style="text-align: center">GS.TS.BS Ngô Quý Châu </td><td class="FontArial2 auto-style21" style="text-align: center">&nbsp;</td><td class="FontArial2 auto-style21" style="text-align: center">&nbsp;</td></tr></table></td>
        </tr>
            <tr>
            <td></td>
        </tr>
    </table>
       
 
 