<div style="width: 816px; padding-bottom: 450px;">
    <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <tbody>
            <tr>
                <td width="281" style="padding-top: 38px">
                    <p align="center"> <strong> </strong> </p>
                    <p align="center" style="font: 19px 'Arial';"><strong>BỆNH VIỆN BẠCH MAI</strong> </p>
                    <p align="center" style="margin-top: -17px; font: 19px 'Arial';"> <strong>TRUNG TÂM ĐÀO TẠO - CĐT</strong> <strong></strong> </p>
                    <p> <strong></strong> </p>
                </td>
                <td width="359" valign="top">
                    <table align="right" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td width="92" height="48">
                                    <table cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div>
                                                        <p align="center"> <strong></strong> </p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p align="center">&nbsp; </p>
                    <p align="center" style="font: 16px 'Arial';"><strong>Mẫu số 30 - BB</strong></p>
                    <p align="center" style="margin-top: -17px; font: 18px 'Arial'; padding-right: 70px;"> <strong>(Ban hành kèm theo QĐ số 19/206/QĐ-BTC</strong></p>
                    <p align="center" style="margin-top: -17px; font: 18px 'Arial'; padding-right: 70px;"> <strong>ngày 30/03/2006 của Bộ Tài Chính)</strong></p>
                    <p> <strong></strong> </p>
                </td>
            </tr>
        </tbody>
    </table>
    <p align="center"> <strong></strong> </p>
    <p align="center"> <strong style="font: 20px 'Arial'; font-weight: bold;">PHIẾU THU</strong> </p>
    <p align="center"> <strong></strong> </p>
    <p align="center"> <strong></strong> </p>
    <p align="center" style="font: 17px 'Arial';">$ThoiGianNhap</p>
    <p align="center"> <strong></strong> </p>
    <table cellpadding=0 cellspacing=0 style="width: 698px; margin-left: 59px; margin-top: 5px; font: 14px 'Arial'; ">
        <tr height="22px">
            <td colspan="3">Họ tên người nộp tiền : $TenNguoiNop</td>
        </tr>
        <tr height="22px">
            <td colspan="3">Nơi công tác : $NoiCongTac</td>
        </tr>
        <tr height="22px">
            <td colspan="3">Lý do nộp : $LyDoNop</td>
        </tr>
        <tr height="22px">
            <td colspan="3">Số tiền :       $SoTien  <strong>VNĐ</strong></td>
        </tr>
        <tr height="22px">
            <td colspan="3">Viết bằng chữ : $VietBangChu</td>
        </tr>
        <tr height="22px">
            <td colspan="3">Kèm theo : chứng từ kế toán</td>
        </tr>
        <tr height="10px">
            <td colspan="3"></td>
        </tr>
        <tr height="22px">
            <td align="center"><strong>NGƯỜI NỘP</strong></td>
            <td align="center"><strong>THỦ QUỸ</strong></td>
            <td align="center"><strong>LÃNH ĐẠO TRUNG TÂM</strong></td>
        </tr>
        <tr height="22px">
            <td colspan="3"></td>
        </tr>
        <tr height="22px">
            <td colspan="3"></td>
        </tr>
        <tr height="22px">
            <td colspan="3"></td>
        </tr>
        <tr height="22px">
            <td align="center"><strong>$TenNguoiNop</strong></td>
            <td align="center"><strong>$TenThuQuy</strong></td>
            <td align="center"><strong>$LanhDaoTrungTam</strong></td>
        </tr>
    </table>
</div>